<ion-view>
    <ion-content ng-controller="AgendaCtrl">
        <h1>Agenda</h1>
        <div class="list">
          <label class="item item-input item-floating-label">
            <span class="input-label">Nome do evento</span>
            <input type="text" placeholder="Nome do evento">
          </label>

          <label class="item item-input item-floating-label">
            <span class="input-label">Estado</span>
            <input type="text" placeholder="Estado">
          </label>

          <label class="item item-input item-floating-label">
            <span class="input-label">Cidade</span>
            <input type="text" placeholder="Cidade">
          </label>

        <label class="item item-input item-opacity item-select">
            <div class="input-label">
                Segmento
            </div>
            <select>
                <option>Blue</option>
                <option selected>Green</option>
                <option>Red</option>
            </select>
        </label>

          <label class="item item-input item-floating-label">
            <span class="input-label">Nome do prodmotor</span>
            <input type="text" placeholder="Nome do prodmotor">
          </label>

          <label class="item item-input item-floating-label">
            <span class="input-label">Nome do pavilhão</span>
            <input type="text" placeholder="Nome do pavilhão">
          </label>

          <label class="item item-input item-floating-label">
            <span class="input-label">Data</span>
            <input type="text" placeholder="Data">
          </label>
        </div>

        <button class="button">
          Buscar
        </button>

    </ion-content>
</ion-view>
