<div class="list">
	<label class="item item-input">
		<span class="input-label">Palavra Chave</span>
		<input type="text" data-ng-model="filtro.palavra">
	</label>
    <label class="item item-input item-select">
        <span class="input-label">
            Categoria
        </span>
        <select ng-model="filtro.categoria" ng-options="segmento for segmento in segFor">
            <option value=""> -- </option>
        </select>
    </label>
    <label class="item item-input item-select">
        <span class="input-label">
            Estados
        </span>
        <select ng-model="filtro.estado" ng-options="estado for estado in estados">
            <option value=""> -- </option>
        </select>
    </label>
	<label class="item item-input">
		<span class="input-label">Cidade</span>
		<input type="text" data-ng-model="filtro.cidade">
	</label>
</div>