<div class="list">
	<label class="item item-input">
		<span class="input-label">Nome</span>
		<input type="text" data-ng-model="filtro.nome" >
	</label>
	<label class="item item-input item-select">
		<span class="input-label">
			Estado
		</span>
		<select ng-model="filtro.estado" ng-options="estado for estado in estados">
			<option value=""> -- </option>
		</select>
	</label>
	<label class="item item-input">
		<span class="input-label">Cidade</span>
		<input type="text" data-ng-model="filtro.cidade" >
	</label>
    <label class="item item-input item-select">
        <span class="input-label">
            Segmento
        </span>
        <select ng-model="filtro.categoria" ng-options="segmento for segmento in segPav">
            <option value=""> -- </option>
        </select>
    </label>
</div>