<div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">Nome</span>
    <input type="text" data-ng-model="filtro.nome" placeholder="Nome">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Estado (Sigla)</span>
    <input type="text" data-ng-model="filtro.estado" placeholder="Estado (Sigla)">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Cidade</span>
    <input type="text" data-ng-model="filtro.cidade" placeholder="Cidade">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Segmento</span>
    <input type="text" data-ng-model="filtro.segmento" placeholder="Segmento">
  </label>
</div>