<div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">Nome</span>
    <input type="text" data-ng-model="filtro.nome" placeholder="Nome">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Estado (Sigla)</span>
    <input type="text" data-ng-model="filtro.estado" placeholder="Estado (Sigla)">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Segmento</span>
    <input type="text" data-ng-model="filtro.segmento" placeholder="Segmentos">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Nome do Promotor</span>
    <input type="text" data-ng-model="filtro.promotor" placeholder="Nome do Promotor">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Nome do Pavilhão</span>
    <input type="text" data-ng-model="filtro.pavilhao" placeholder="Nome do Pavilhão">
  </label>
<!--   <label class="item item-input item-stacked-label text-left">
    <span class="input-label">Data</span>
    <input type="date" data-ng-model="filtro.data" placeholder="Data">
  </label> -->
</div>