<ion-view view-title="Estandes">

    <div class="tabs tabs-top tabs-icon-left filtro-bar">
        <a class="tab-item tab-item-right" data-ng-click="showPopup()">
            <i class="icon ion-funnel"></i>
            Filtrar
        </a>
    </div>

    <ion-content id="index" data-has-bouncing="false">

        <ion-list class="listar" data-ng-if="!load">
          <ion-item class="item-icon-right" data-bindonce="estandes" data-ng-repeat="estande in estandes | filtrarEstande:filtro:allEstandes" href="#/tab/estande/{{ estande.ID }}">
                <div class="thumb estande" style="background:url({{ checkImg(estande.guid) ? estande.guid : 'img/no-photo.png' }});"></div>
                <h1 bo-class="estande" bo-html="estande.post_title"></h1>
                <p class="estande">Arquiteto:<span bo-html="estande.arquitetoProjeto"></span></p>
                <i class="icon ion-chevron-right"></i>
          </ion-item>
        </ion-list>

        <!-- <ion-infinite-scroll on-infinite="loadMore()" ng-if="!moredata"></ion-infinite-scroll> -->
    </ion-content>

</ion-view>