<ion-view view-title="Projetos de Estandes">

    <ion-nav-buttons side="right">
        <button class="button icon button-clear ion-android-share-alt"></button>
        <button ng-if="!estande.isFavorito" class="button icon button-clear ion-android-star-outline" ng-click="addFavorite('Projeto de Estande', estande)"></button>
        <button ng-if="estande.isFavorito" class="button icon button-clear ion-android-star" ng-click="rmFavorite('Projeto de Estande', estande)"></button>
    </ion-nav-buttons>

    <ion-content id="index" data-has-bouncing="false">

        <ion-list data-bindonce="estande" class="listar-evento">
            <ion-item class="info">
                <div class="thumb" style="background:url({{ checkImg(estande.guid) ? estande.guid : 'img/no-photo.png' }});"></div>
                <h1 class="adjM" bo-class="{{ estande.post_title.length >= 38 ? 'small-font' : '' }}" bo-html="estande.post_title"></h1>
                <p><i class="icon ion-person"></i><span>Arquiteto - <b bo-html="estande.arquitetoProjeto"></b></span></p>
                <p><i class="icon ion-home"></i><span>Montadora - <b bo-html="estande.montadoraProjeto"></b></span></p>
                <p><i class="icon ion-ios-location"></i><span bo-html="estande.ruaProjeto + ', ' + estande.numeroProjeto + ' | CEP ' + estande.cepProjeto + '-' + estande.bairroProjeto + '/' + estande.estadoProjeto"></span></p>
                <p><i class="icon ion-ios-telephone"></i><span><a href="tel:{{estande.telefoneProjeto}}" bo-html="estande.telefoneProjeto ? estande.telefoneProjeto : '-'"></a></span></p>
                <p><i class="icon ion-ios-world"></i><span><a href="{{estande.siteProjeto}}" link onclick="return false" bo-html="estande.siteProjeto ? estande.siteProjeto : '-'"></a></span></p>
            </ion-item>

            <ion-item class="detail">
                <h2>Descrição</h2>
                <p bo-html="estande.post_content ? estande.post_content : 'Sem descrição.'"></p>
            </ion-item>
        </ion-list>
    </ion-content>

</ion-view>