<ion-view view-title="Favoritos">

    <div class="tabs tabs-top tabs-icon-left filtro-bar">
        <a class="tab-item tab-item-right" data-ng-click="showPopup()">
            <i class="icon ion-funnel"></i>
            Filtrar
        </a>
    </div>

    <ion-content id="index" data-has-bouncing="false">
        <ion-refresher ng-if="favoritos.length != 0" pulling-text="Puxe para atualizar..." on-refresh="doRefresh()">
        </ion-refresher>
        <p ng-if="favoritos.length == 0 && load" class="favoritos-none">Você não possui favoritos.</p>
        <loading id="loading-favoritos"></loading>
        <ion-list class="listar" ng-if="favoritos.length != 0">
            <ion-item class="item-icon-right" data-bindonce="favoritos" data-ng-repeat="favorito in favoritos | filtrarFavorito:filtro.categoria" ng-href="{{ favorito.type == 'evento' ? '#/tab/evento/' + favorito.ID : (favorito.type == 'fornecedor' ? '#/tab/fornecedor/' + favorito.ID : (favorito.type == 'estande' ? '#/tab/estande/' + favorito.ID : (favorito.type == 'noticia' ? '#/tab/noticia/' + favorito.ID : (favorito.type == 'pavilhao' ? '#/tab/pavilhao/' + favorito.ID : (favorito.type == 'produto' ? '#/tab/produto/' + favorito.ID : '#/tab/servico/' + favorito.ID ))))) }}">
                <div ng-if="favorito.type == 'evento'">
                    <div class="thumb" style="background:url({{ checkImg(favorito.guid) ? favorito.guid : 'img/no-photo.png' }});"></div>
                    <h1 bo-class="{{ favorito.post_title.length >= 38 ? 'small-font' : '' }}" bo-html="favorito.post_title"></h1>
                    <p>Data:<span bo-html="favorito.dataInicial ? favorito.dataInicial : '-'"></span></p>
                    <p>Segmento:<span bo-html="favorito.name ? favorito.name : '-'"></span></p>
                    <p>Uf:<span bo-html="favorito.estadoFeira ? favorito.estadoFeira : '-'"></span></p>
                    <p>Cidade:<span bo-html="favorito.cidadeFeira ? favorito.cidadeFeira : '-'"></span></p>
                    <p>Promotor:<span bo-html="favorito.promotorFeira ? favorito.promotorFeira : '-'"></span></p>
                    <p>Pavilhão:<span bo-html="favorito.pavilhaoFeira ? favorito.pavilhaoFeira : '-'"></span></p>
                </div>

                <div ng-if="favorito.type == 'estande'">
                    <div class="thumb estande" style="background:url({{ checkImg(favorito.guid) ? favorito.guid : 'img/no-photo.png' }});"></div>
                    <h1 class="estande" bo-html="favorito.post_title"></h1>
                    <p class="estande">Arquiteto:<span bo-html="favorito.arquitetoProjeto"></span></p>
                </div>

                <div ng-if="favorito.type == 'fornecedor'">
                    <div class="thumb" style="background:url({{ checkImg(favorito.guid) ? favorito.guid : 'img/no-photo.png' }});"></div>
                    <h1 bo-class="{{ favorito.post_title.length >= 38 ? 'small-font' : '' }}" bo-html="favorito.post_title"></h1>
                    <p>Estado:<span bo-html="favorito.estado ? favorito.estado : '-'"></span></p>
                    <p>Cidade:<span bo-html="favorito.cidade ? favorito.cidade : '-'"></span></p>
                    <p class="no-wrap">Serviços:<span bo-html="favorito._yoast_wpseo_metadesc ? favorito._yoast_wpseo_metadesc : '-'"></span></p>
                </div>

                <div ng-if="favorito.type == 'noticia'">
                    <div class="thumb noticia" style="background:url({{ checkImg(favorito._thumbnail_id) ? favorito._thumbnail_id : 'img/no-photo.png' }});"></div>
                    <h1 class="noticia-h1" bo-html="favorito.post_date | date:'dd/MM/yyyy'"></h1>
                    <p class="noticia-p" bo-html="favorito.post_title"></p>
                </div>

                <div ng-if="favorito.type == 'pavilhao'">
                    <div class="thumb" style="background:url({{ checkImg(favorito.guid) ? favorito.guid : 'img/no-photo.png' }});"></div>
                    <h1 bo-class="{{ favorito.post_title.length >= 38 ? 'small-font' : '' }}" bo-html="favorito.post_title"></h1>
                    <p>Estado:<span bo-html="favorito.estadoPavilhao ? favorito.estadoPavilhao : '-'"></span></p>
                    <p>Cidade:<span bo-html="favorito.cidadePavilhao ? favorito.cidadePavilhao : '-'"></span></p>
                </div>

                <div ng-if="favorito.type == 'produto'">
                    <div class="thumb" style="background:url({{ checkImg(favorito.guid) ? favorito.guid : 'img/no-photo.png' }});"></div>
                    <h1 bo-class="{{ favorito.post_title.length >= 38 ? 'small-font' : '' }}" bo-html="favorito.post_title"></h1>
                    <p>Empresa:<span bo-html="favorito.NomedaLoja ? favorito.NomedaLoja : '-'"></span></p>
                    <p class="last">Telefone:<span bo-html="favorito.loja.telefoneLoja ? favorito.loja.telefoneLoja : '-'"></span></p>
                </div>

                <div  ng-if="favorito.type == 'servico'">
                    <div class="thumb" style="background:url({{ checkImg(favorito.guid) ? favorito.guid : 'img/no-photo.png' }});"></div>
                    <h1 bo-class="{{ favorito.post_title.length >= 38 ? 'small-font' : '' }}" bo-html="favorito.post_title"></h1>
                    <p>Endereço:<span bo-html="favorito.ruaServico + ', ' + favorito.numeroServico + ' | CEP ' + favorito.cepServico + '-' + favorito.bairroServico + '/' + favorito.estadoServico"></span></p>
                    <p>Telefone:<span bo-html="favorito.telefoneServico ? favorito.telefoneServico : 'Não Cadastrado'"></span></p>
                </div>

                <i class="icon ion-chevron-right"></i>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>