<ion-view view-title="Fornecedor">

    <ion-nav-buttons side="right">
      <button class="button icon button-clear ion-android-star-outline" ng-click="addFavorite('Fornecedor', fornecedor.ID)"></button>
    </ion-nav-buttons>

	<ion-content id="index" data-has-bouncing="false">

		<ion-list class="listar-evento">
			<ion-item>
				<div class="thumb" style="background:url({{ fornecedor.guid ? fornecedor.guid : 'img/no-photo.png' }}) no-repeat; background-size: auto 100%; background-position: center"></div>
				<h1 class="{{ fornecedor.post_title.length >= 38 ? 'small-font' : '' }}">{{ fornecedor.post_title }}</h1>
				<p><i class="icon ion-ios-location"></i><span>{{ fornecedor.endereco ? fornecedor.endereco : '-' }} {{ fornecedor.cidade ? fornecedor.cidade : '-' }}/{{ fornecedor.estado ? fornecedor.estado : '-' }}</span></p>
				<p><i class="icon ion-ios-telephone"></i><span>{{ fornecedor.telefone ? fornecedor.telefone : '-' }}</span></p>
				<p><i class="icon ion-ios-world"></i><span><a href="{{ fornecedor.siteFeira }}">{{ fornecedor.site ? fornecedor.site : '-' }}</a></span></p>
			</ion-item>

			<ion-item class="detail">
				<h2>Descrição</h2>
				<p>{{ fornecedor._yoast_wpseo_metadesc ? fornecedor._yoast_wpseo_metadesc : 'Sem descrição.' }}</p>
			</ion-item>
		</ion-list>
	</ion-content>

</ion-view>