<ion-view view-title="Fornecedores">

    <ion-nav-buttons side="right">
        <button class="button icon button-clear ion-android-share-alt"></button>
	    <button ng-init="isFavorito('Fornecedor', fornecedor)" ng-if="fornecedor" class="button icon button-clear {{ favoriteButton }}" ng-click="favorito('Fornecedor', fornecedor)"></button>
    </ion-nav-buttons>

	<ion-content id="index" data-has-bouncing="false">

		<ion-list data-bindonce="fornecedor" class="listar-evento">
			<ion-item class="info">
				<div class="thumb" style="background:url({{ checkImg(fornecedor.guid) ? fornecedor.guid : 'img/no-photo.png' }});"></div>
				<h1 class="adjM" bo-class="{{ fornecedor.post_title.length >= 38 ? 'small-font' : '' }}" bo-html="fornecedor.post_title"></h1>
				<p><i class="icon ion-ios-location"></i><span>{{ fornecedor.endereco ? fornecedor.endereco : '-' }} {{ fornecedor.cidade ? fornecedor.cidade : '-' }}/{{ fornecedor.estado ? fornecedor.estado : '-' }}</span></p>
				<p><i class="icon ion-ios-telephone"></i><span><a href="tel: {{fornecedor.telefone}}" bo-html="fornecedor.telefone ? fornecedor.telefone : '-'"></a></span></p>
				<p><i class="icon ion-ios-world"></i><span><a href="{{fornecedor.site}}" link onclick="return false" bo-html="fornecedor.site ? fornecedor.site : '-'"></a></span></p>
			</ion-item>

			<ion-item class="detail">
				<h2>Descrição</h2>
				<p bo-html="fornecedor.post_content ? fornecedor.post_content : 'Sem descrição.'"></p>
			</ion-item>
		</ion-list>
	</ion-content>

</ion-view>