<ion-view>
    <ion-header-bar class="bar bar-header">
        <button class="button icon button-clear ion-navicon-round"></button>
        <img class="title menu-title" src="img/logo-home.png">
    </ion-header-bar>
    <ion-content id="index" data-has-bouncing="false" data-ng-controller="AgendaCtrl">
        <div class="list inside">
            <a class="item item-icon-left item-icon-right" href="#/tab/eventos">
                <i class="icon ion-calendar"></i>
                    Agenda
                <i class="icon ion-chevron-right"></i>
            </a>

            <a class="item item-icon-left item-icon-right" href="#/tab/fornecedores">
                <i class="icon ion-person-stalker"></i>
                    Fornecedores
                <i class="icon ion-chevron-right"></i>
            </a>

            <a class="item item-icon-left item-icon-right" href="#/tab/pavilhoes">
                <i class="icon ion-ios-home"></i>
                    Pavilhão
                <i class="icon ion-chevron-right"></i>
            </a>

            <a class="item item-icon-left item-icon-right" href="#/tab/servicos">
                <i class="icon ion-settings"></i>
                    Serviços
                <i class="icon ion-chevron-right"></i>
            </a>

            <a class="item item-icon-left item-icon-right" href="#/tab/produtos">
                <i class="icon ion-ios-book"></i>
                    Catálogo de Produtos
                <i class="icon ion-chevron-right"></i>
            </a>

            <a class="item item-icon-left item-icon-right" href="#/tab/noticias">
                <i class="icon ion-ios-paper"></i>
                    Notícias
                <i class="icon ion-chevron-right"></i>
            </a>

            <a class="item item-icon-left item-icon-right" href="#/tab/estandes">
                <i class="icon ion-edit"></i>
                    Projetos de estandes
                <i class="icon ion-chevron-right"></i>
            </a>

            <a class="item item-icon-left item-icon-right" href="#/tab/contato">
                <i class="icon ion-email"></i>
                    Contato
                <i class="icon ion-chevron-right"></i>
            </a>

        </div>

    </ion-content>

</ion-view>