<ion-view title="<img class='menu-title' src='img/logo-home.png'>">
    <ion-header-bar class="bar bar-header">
        <button class="button icon button-clear ion-navicon-round"></button>

    </ion-header-bar>
    <ion-content id="index" data-has-bouncing="false">
        <div class="list inside">
            <a class="item item-icon-left item-icon-right" href="#/tab/eventos">
                <i class="icon icone-agenda icon-bigger"></i>
                    Agenda
                <i class="icon ion-chevron-right"></i>
            </a>

            <a class="item item-icon-left item-icon-right" href="#/tab/fornecedores">
                <i class="icon icone-fornecedor icon-bigger"></i>
                    Fornecedores
                <i class="icon ion-chevron-right"></i>
            </a>

            <a class="item item-icon-left item-icon-right" href="#/tab/pavilhoes">
                <i class="icon icone-pavilhao icon-bigger"></i>
                    Pavilhões
                <i class="icon ion-chevron-right"></i>
            </a>

            <a class="item item-icon-left item-icon-right" href="#/tab/servicos">
                <i class="icon icone-servicos icon-bigger"></i>
                    Serviços
                <i class="icon ion-chevron-right"></i>
            </a>

            <a class="item item-icon-left item-icon-right" href="#/tab/produtos">
                <i class="icon icone-catalogo-de-produtos icon-bigger"></i>
                    Catálogo de Produtos
                <i class="icon ion-chevron-right"></i>
            </a>

            <a class="item item-icon-left item-icon-right" href="#/tab/noticias">
                <i class="icon icone-noticias icon-bigger"></i>
                    Notícias
                <i class="icon ion-chevron-right"></i>
            </a>

            <a class="item item-icon-left item-icon-right" href="#/tab/estandes">
                <i class="icon icone-projetos-de-estandes icon-bigger"></i>
                    Projetos de Estandes
                <i class="icon ion-chevron-right"></i>
            </a>
        </div>
    </ion-content>
</ion-view>