<ion-view view-title="Notícia">

    <ion-nav-buttons side="right">
      <button class="button icon button-clear ion-android-star-outline" ng-click="addFavorite('Notícia', noticia.ID)"></button>
    </ion-nav-buttons>

    <ion-content id="index" data-has-bouncing="false">

        <ion-list data-bindonce="noticia" class="listar-evento">
            <ion-item>
                <div class="thumb" style="background:url({{ checkImg(noticia.guid) ? noticia.guid : 'img/no-photo.png' }});"></div>
                <h1 class="noticia-h1" bo-html="noticia.post_date | date:'dd/MM/yyyy'"></h1>
                <h2 class="noticia-title" bo-html="noticia.post_title"></h2>
                <p class="noticia-header" bo-html="(noticia._yoast_wpseo_focuskw).length >= 10 ? noticia._yoast_wpseo_focuskw : ''"></p>
            </ion-item>

            <ion-item class="detail">
                <p class="noticia-body" bo-html="noticia._yoast_wpseo_metadesc"></p>
            </ion-item>
        </ion-list>
    </ion-content>

</ion-view>