<ion-view view-title="Locais">


	<div class="tabs tabs-top tabs-icon-left filtro-bar">
		<a class="tab-item tab-item-right" data-ng-click="showPopup()">
			<i class="icon ion-funnel"></i>
			Filtrar
		</a>
	</div>

	<ion-content id="index" data-has-bouncing="false" >

		<ion-list class="listar" data-ng-if="!load">
			<ion-item class="item-icon-right" data-bindonce="pavilhoes" data-ng-repeat="pavilhao in pavilhoes | filtrarPavilhao:filtro:allPavilhoes" href="#/tab/pavilhao/{{ pavilhao.ID }}">
				<div class="thumb" style="background:url({{ checkImg(pavilhao.guid) ? pavilhao.guid : 'img/no-photo.png' }});"></div>
				<h1 bo-class="{{ pavilhao.post_title.length >= 38 ? 'small-font' : '' }}" bo-html="pavilhao.post_title"></h1>
				<p>Estado:<span bo-html="pavilhao.estadoPavilhao ? pavilhao.estadoPavilhao : '-'"></span></p>
				<p>Cidade:<span bo-html="pavilhao.cidadePavilhao ? pavilhao.cidadePavilhao : '-'"></span></p>
				<i class="icon ion-chevron-right"></i>
			</ion-item>
		</ion-list>
		<ion-infinite-scroll on-infinite="loadMore()" ng-if="!moredata"></ion-infinite-scroll>

	</ion-content>

</ion-view>