<ion-view view-title="Locais">


	<div class="tabs tabs-top tabs-icon-left filtro-bar">
		<a class="tab-item" data-ng-click="showPopup()">
			<i class="icon ion-funnel"></i>
			Filtrar
		</a>
	</div>

	<ion-content id="index" data-has-bouncing="false" >

		<p data-ng-if="load" class="loading">Carregando ...</p>

		<ion-list class="listar">
			<ion-item class="item-icon-right" data-ng-repeat="pavilhao in pavilhoes | filtraNome:filtro.nome | filtraEstado:filtro.estado:2 | filtraCidade:filtro.cidade:2 | filtraSegmento:filtro.segmento " href="#/tab/pavilhao/{{ pavilhao.ID }}">
				<div class="thumb" style="background:url({{ pavilhao.guid ? pavilhao.guid : 'img/no-photo.png' }}) no-repeat; background-size: auto 100%; background-position: center"></div>
				<h1 class="{{ pavilhao.post_title.length >= 38 ? 'small-font' : '' }}">{{ pavilhao.post_title }}</h1>
				<p>Estado:<span>{{ pavilhao.estadoPavilhao ? pavilhao.estadoPavilhao : '-' }}</span></p>
				<p>Cidade:<span>{{ pavilhao.cidadePavilhao ? pavilhao.cidadePavilhao : '-' }}</span></p>
				<i class="icon ion-chevron-right"></i>
			</ion-item>
		</ion-list>
		<ion-infinite-scroll on-infinite="loadMore()" ng-if="!moredata"></ion-infinite-scroll>

	</ion-content>

</ion-view>