<ion-view view-title="Pavilhões">

	<ion-nav-buttons side="right">
		<button class="button icon button-clear ion-android-share-alt"></button>
		<button ng-if="!pavilhao.isFavorito" class="button icon button-clear ion-android-star-outline" ng-click="addFavorite('Pavilhão', pavilhao)"></button>
		<button ng-if="pavilhao.isFavorito" class="button icon button-clear ion-android-star" ng-click="rmFavorite('Pavilhão', pavilhao)"></button>
	</ion-nav-buttons>

	<ion-content id="index" data-has-bouncing="false">

		<ion-list data-bindonce="pavilhao" class="listar-evento">
			<ion-item class="info">
				<div class="thumb" style="background:url({{ checkImg(pavilhao.guid) ? pavilhao.guid : 'img/no-photo.png' }});"></div>
				<h1 class="adjM" bo-class="{{ pavilhao.post_title.length >= 38 ? 'small-font' : '' }}" bo-html="pavilhao.post_title"></h1>
				<p><i class="icon ion-ios-location"></i><span>{{ pavilhao.ruaPavilhao + ', ' + pavilhao.bairroPavilhao + ' / ' + pavilhao.cepPavilhao + ' - ' + pavilhao.cidadePavilhao + '/' + pavilhao.estadoPavilhao }}</span></p>
				<p><i class="icon ion-ios-telephone"></i><span><a href="tel: {{pavilhao.telefonePavilhao}}" bo-html="pavilhao.telefonePavilhao ? pavilhao.telefonePavilhao : '-'"></a></span></p>
				<p><i class="icon ion-ios-world"></i><span><a href="{{pavilhao.sitePavilhao}}" link onclick="return false" bo-html="pavilhao.sitePavilhao ? pavilhao.sitePavilhao : '-'"></a></span></p>
			</ion-item>

			<ion-item class="detail">
				<h2>Descrição</h2>
				<p bo-html="pavilhao.post_content ? pavilhao.post_content : 'Sem descrição.'"></p>
			</ion-item>
		</ion-list>
	</ion-content>

</ion-view>