<ion-view view-title="Produtos">

    <div class="tabs tabs-top tabs-icon-left filtro-bar">
        <a class="tab-item tab-item-right" data-ng-click="showPopup()">
            <i class="icon ion-funnel"></i>
            Filtrar
        </a>
    </div>

    <ion-content id="index" data-has-bouncing="false">

        <ion-list class="listar" data-ng-if="!load">
            <ion-item class="item-icon-right" data-bindonce="produtos" data-ng-repeat="produto in produtos | filtrarProduto:filtro:allProdutos" href="#/tab/produto/{{ produto.ID }}">
                <div class="thumb" style="background:url({{ checkImg(produto.guid) ? produto.guid : 'img/no-photo.png' }});"></div>
                <h1 bo-class="{{ produto.post_title.length >= 38 ? 'small-font' : '' }}" bo-html="produto.post_title"></h1>
                <p>Empresa:<span bo-html="produto.NomedaLoja ? produto.NomedaLoja : '-'"></span></p>
                <p>Telefone:<span bo-html="produto.loja.telefoneLoja ? produto.loja.telefoneLoja : '-'"></span></p>
                <i class="icon ion-chevron-right"></i>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll on-infinite="loadMore()" ng-if="!moredata"></ion-infinite-scroll>

    </ion-content>

</ion-view>