<ion-view view-title="Produtos">

    <div class="tabs tabs-top tabs-icon-left filtro-bar">
        <a class="tab-item tab-item-right" data-ng-click="showPopup()">
            <i class="icon ion-funnel"></i>
            Filtrar
        </a>
    </div>

    <ion-content id="index" data-has-bouncing="false">

        <ion-list class="listar" data-ng-if="!load">
            <ion-item class="item-icon-right" data-ng-repeat="produto in produtos" href="#/tab/produto/{{ produto.ID }}">
                <div class="thumb" style="background:url({{ produto.guid ? produto.guid : 'img/no-photo.png' }}) no-repeat; background-size: auto 100%; background-position: center"></div>
                <h1 class="{{ produto.post_title.length >= 38 ? 'small-font' : '' }}">{{ produto.post_title }}</h1>
                <p>Empresa:<span>{{ produto.NomedaLoja ? produto.NomedaLoja : '-' }}</span></p>
                <p>Telefone:<span>{{ produto.loja.telefoneLoja ? produto.loja.telefoneLoja : '-' }}</span></p>
                <i class="icon ion-chevron-right"></i>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll on-infinite="loadMore()" ng-if="!moredata"></ion-infinite-scroll>

    </ion-content>

</ion-view>