<ion-view view-title="Catálogo de Produtos">

	<ion-nav-buttons side="right">
		<button class="button icon button-clear ion-android-share-alt"></button>
		<button ng-if="!produto.isFavorito" class="button icon button-clear ion-android-star-outline" ng-click="addFavorite('Produto', produto.ID)"></button>
		<button ng-if="produto.isFavorito" class="button icon button-clear ion-android-star" ng-click="rmFavorite('Produto', produto.ID)"></button>
	</ion-nav-buttons>

	<ion-content id="index" data-has-bouncing="false">

		<ion-list data-bindonce="produto" class="listar-evento">
			<ion-item class="info">
				<div class="thumb produto" style="background:url({{ checkImg(produto.guid) ? produto.guid : 'img/no-photo.png' }});"></div>
				<h1 class="adjM" bo-class="{{ produto.post_title.length >= 38 ? 'small-font' : '' }}" bo-html="produto.post_title" ></h1>
				<p><i class="icon ion-home"></i><span bo-html="produto.NomedaLoja" ></span></p>
				<p><i class="icon ion-ios-location"></i><span>{{ produto.loja.ruaLoja + ', ' + produto.loja.cepLoja + ' - ' + produto.loja.cidadeLoja + '/' + produto.loja.estadoLoja }}</span></p>
				<p><i class="icon ion-ios-telephone"></i><span bo-html="produto.loja.telefoneLoja ? produto.loja.telefoneLoja : '-'" ></span></p>
				<p><i class="icon ion-ios-world"></i><span><a bo-href="produto.loja.siteLoja" bo-html="produto.loja.siteLoja ? produto.loja.siteLoja : '-'" ></a></span></p>
			</ion-item>

			<ion-item class="detail">
				<h2>Descrição</h2>
				<p class="noticia-body" bo-html="produto.post_content ? produto.post_content : 'Sem descrição.'" ></p>
			</ion-item>
		</ion-list>
	</ion-content>

</ion-view>