<ion-view view-title="Serviços">

    <div class="tabs tabs-top tabs-icon-left filtro-bar">
        <a class="tab-item tab-item-right" data-ng-click="showPopup()">
            <i class="icon ion-funnel"></i>
            Filtrar
        </a>
    </div>

    <ion-content id="index" data-has-bouncing="false">
        <loading id="loading-servicos"></loading>
        <ion-list class="listar" data-ng-if="!load">
          <ion-item class="item-icon-right" data-bindonce="servicos" data-ng-repeat="servico in servicos | filtrarServico:filtro:allServicos" href="#/tab/servico/{{ servico.ID }}">
                <div class="thumb" style="background:url({{ checkImg(servico.guid) ? servico.guid : 'img/no-photo.png' }});"></div>
                <h1 bo-class="{{ servico.post_title.length >= 38 ? 'small-font' : '' }}" bo-html="servico.post_title"></h1>
                <p>Endereço:<span bo-html="servico.ruaServico + ', ' + servico.numeroServico + ' | CEP ' + servico.cepServico + '-' + servico.bairroServico + '/' + servico.estadoServico"></span></p>
                <p>Telefone:<span bo-html="servico.telefoneServico ? servico.telefoneServico : 'Não Cadastrado'"></span></p>
                <i class="icon ion-chevron-right"></i>
          </ion-item>
        </ion-list>

        <ion-infinite-scroll on-infinite="loadMore()" ng-if="!moredata"></ion-infinite-scroll>
    </ion-content>

</ion-view>