<ion-side-menus>
	<ion-side-menu-content>
		<ion-nav-bar align-title="left" class="bar-stable">
			<ion-nav-back-button class="button icon button-clear ion-chevron-left">
			</ion-nav-back-button>

			<ion-nav-buttons side="left">
				<button data-ng-click="toggleLeft()" class="button icon button-clear ion-navicon-round"></button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="tab"></ion-nav-view>
	</ion-side-menu-content scroll="true">
	<ion-side-menu side="left" ios>
		<ion-header-bar class="menu-title-bar">
			Menu
		</ion-header-bar>
		<ion-list class="menu">
			<ion-item class="item-icon-left" menu-close href="#/index">
				<i class="icon icone-meuguru"></i>
				Meu Guru
			</ion-item>
			<ion-item class="item-icon-left" menu-close href="#/tab/favoritos">
				<i class="icon ion-android-star"></i>
				Favoritos
			</ion-item>
			<ion-item class="item-icon-left" menu-close href="#/tab/eventos">
				<i class="icon icone-agenda"></i>
				Agenda
			</ion-item>
			<ion-item class="item-icon-left" menu-close href="#/tab/fornecedores">
				<i class="icon icone-fornecedor"></i>
				Fornecedores
			</ion-item>
			<ion-item class="item-icon-left" menu-close href="#/tab/pavilhoes">
				<i class="icon icone-pavilhao"></i>
				Pavilhões
			</ion-item>
			<ion-item class="item-icon-left" menu-close href="#/tab/servicos">
				<i class="icon icone-servicos"></i>
				Serviços
			</ion-item>
			<ion-item class="item-icon-left" menu-close href="#/tab/produtos">
				<i class="icon icone-catalogo-de-produtos"></i>
				Catálogo de Produtos
			</ion-item>
			<ion-item class="item-icon-left" menu-close href="#/tab/noticias">
				<i class="icon icone-noticias"></i>
				Notícias
			</ion-item>
			<ion-item class="item-icon-left" menu-close href="#/tab/estandes">
				<i class="icon icone-projetos-de-estandes"></i>
				Projetos de Estandes
			</ion-item>
			<ion-item class="item-icon-left" menu-close href="#/tab/contato">
				<i class="icon icone-contato"></i>
				Contato
			</ion-item>
	</ion-side-menu>
</ion-side-menus>












